module Foo
  class << self
    :private
    
    def submit? line
      line[/foo/i].nil?
    end

    def filter file_path
      Tempfile.open(File.basename(file_path)) {|tf|
        lines = File.readlines(file_path)
        lines.select! {|l|
          Foo.submit? l
        }
        tf.write lines.join("\n")
        tf.path
      }
    end
  end
end